body{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.services-page-image{
   width: 100%;
   max-height: 80vh;
}

@media only screen and (min-width: 800px){
   .small{
      display: none;
   }
}

@media only screen and (max-width: 800px){
   .large{
      display: none;
   }
}

.services-layout{
   height: 100%;
   width: 100%;
   position: relative;
   color: white;
}

.services-layout-text{
   position: absolute;
   left: 10%;
   bottom: 50%;
   transform: translate(-10%, 50%);
}

.services-layout-h1{
   font-weight: 600;
   font-size: 1.6rem;
}

.services-adapt-card{
   height: 100%;
   padding-left: 0.8rem;
   padding-right: 0.8rem;
   padding-top: 1rem;
   padding-bottom: 1rem;
}

.services-adapt-card-h1{
   font-weight: 500;
   font-size: 1.6rem;
   padding-top: 0.3rem;
   text-align: center;
}

.services-our-h1{
   text-align: center;
   padding-bottom: 0.8rem;
   font-size: 1.6rem;
   color: #42946A;
}

.services-our-container{
   height: 100%;
   padding-left: 0.8rem;
   padding-right: 0.8rem;
   padding-top: 1rem;
   padding-bottom: 1rem;
   background-color: #EFF4F4;
}

.services-our-card{
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.services-icons{
   height: 5rem;
   padding-bottom: 0.4rem;
}

.services-our-h2{
   padding-bottom: 0.4rem;
   font-weight: 600;
   font-size: 1.4rem;
   color: #639287;
}

.services-our-p{
   font-size: 1.2rem;
   font-weight: 500;
   color: gray;text-align: center;
   padding-bottom: 2rem;
}

@media only screen and (min-width: 600px){
   .services-our-cards{
      display: flex;
      flex-direction: row;
      width: 100%;
   }

   .services-adapt-card-h1{
      font-weight: 500;
      font-size: 1.8rem;
      padding-top: 0.3rem;
      text-align: center;
   }
   
   .services-our-h1{
      text-align: center;
      padding-bottom: 2rem;
      padding-top: 3rem;
      font-size: 1.8rem;
   }

   .services-our-h2{
      padding-bottom: 0.4rem;
      font-weight: 600;
      font-size: 1.2rem;
   }
   
   .services-our-p{
      font-size: 1rem;
      font-weight: 500;
   }

   .services-our-card{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0.5rem;
      text-align: center;
   }
}

@media only screen and (min-width: 800px){
   .services-our-container{
      height: 100%;
      padding-left: 5%;
      padding-right: 5%;
      padding-top: 1rem;
      padding-bottom: 1rem;
      width: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   .services-adapt-card-h1{
      font-weight: 500;
      font-size: 2.2rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
      text-align: center;
   }

   .services-our-h2{
      padding-bottom: 0.4rem;
      font-weight: 600;
      font-size: 1.4rem;
   }
   
   .services-our-p{
      padding-top: 0.5rem;
      font-size: 1.3rem;
      font-weight: 100;
   }
}

@media only screen and (min-width: 1500px){
   .services-our-container{
      height: 100%;
      padding-left: 10%;
      padding-right: 10%;
      padding-top: 2.5rem;
      padding-bottom: 2rem;
   }

   .services-our-card{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      text-align: center;
   }
}



